<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- <bean id="tv" class="jeonggeun.spring.polymorphism.SamsungTV" init-method="start" 
		destroy-method="stop"/> -->
	<bean id="tv" class="jeonggeun.spring.polymorphism.SamsungTV">
	<!--  
		<constructor-arg index="0" ref="apple"></constructor-arg>
		<constructor-arg index="1" value="3000000"></constructor-arg>-->
		<property name="speaker" ref="apple"/>
		<property name="price" value="30000000"/>
	</bean>
	<bean id="sony" class="jeonggeun.spring.polymorphism.SonySpeaker" />
	<bean id="apple" class="jeonggeun.spring.polymorphism.AppleSpeaker"/>
	


</beans>